*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: black;
}
h1{
    color: #181818;
    text-shadow: 1px 2px 1px #000;
}
.containerImc{
    max-width: 15rem;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 2px;
}
form{
    width: 100%;
    background-color: #f1f1f1;
}
.msg{
    background-color: aquamarine;
    color: white;
    text-shadow: 1px 2px 1px black;
    padding: 5px;
}