<!DOCTYPE html>
<html lang="pt-BR" ng-app="imc">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora IMC</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap/bootstrap.css">
    <script src="./lib/angular.js" defer></script>
    <script src="./js/script.js" defer></script>
</head>
<body ng-controller="imcCtrl" class="d-flex align-items-center justify-content-center bg-black ">
    <main class="containerImc d-flex justify-content-center align-items-center flex-column">
        <h1 class="fs-3">{{titulo}}</h1>
        <form action="" class=" form-control d-flex justify-content-center align-items-center flex-column">
            <label for="peso">
                Seu peso:<input class="form-control" type="number" name="peso" id="peso" ng-model="peso" ng-required="true">
            </label>
            <label for="altura">
                Sua altura:<input class="form-control" type="number" name="" id="altura" ng-model="altura" ng-required="true">
            </label>
        </form>
        <button class="btn-success form-control" ng-click="calcular()" ng-hide="peso.length < 2" ng-disabled="altura.length < 2">
            Calcular
        </button>
        <div class="msg" ng-show="resultado!=null">
           {{mensagem}}
        </div>
    </main>
</body>
</html>